.loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    z-index: 9999;
}

.message {
    border-width: 1px;
    border: #4c4c4c;
    padding: 6px 8px 6px 6px;
    margin: 11px 20px;
    background: #4c4c4c;
    color: white;
}

.dot-loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-loader span {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    animation: blink 1.5s infinite;
}

.dot-loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.dot-loader span:nth-child(3) {
    animation-delay: 0.4s;
}

.dot-loader span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes blink {
    0%, 100% { opacity: 0.2; }
    50% { opacity: 1; }
}